<!DOCTYPE html>
<html>
    <head>
        <title>ASM Debugger</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div id="input-area">
            <p>
                <input type="text" id="path" class="inp" placeholder="Path to ASM code">
            </p>
            <p>
                <input type="button" id="run" class="button" value="Run">
                <input type="button" id="next" class="button" value="Next">
            </p>

            <p id="output"></p>
            <div id="source_code"></div>
        </div>

        <div id="intermediate-area">
            <p id="registers" style="float: left;"></p>
            <p id="flags" style="float: left;"></p>
            <p id="memory"></p>
            <p id="stack"></p>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>