.button {
    border: 2px solid black;
    border-radius: 10px;
    background: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    outline: 0;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.button:hover {
    background: black;
    color: white;
}

.inp {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    width: 50%;
    outline: 0;
}

#source_code {
    font-size: 120%;
}

#output {
    clear: both;
}

#input-area {
    float: left;
    width: 50%;
}

#source_code {
    height: 75vh;
    overflow: scroll;
}

#intermediate-area {
    float: left;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}